<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Aggiungi un nuovo punteggio</title>
</head>
<body>
<h1>Aggiungi un nuovo punteggio</h1>
<form th:action="@{/scores}" method="post" th:object="${SCORE}">
    <label for="assignedScore">Punteggio Assegnato</label>
    <input type="number" id="assignedScore" th:field="*{assignedScore}" required>
    <br>
    <label for="assignedDate">Data Assegnazione</label>
    <input type="date" id="assignedDate" th:field="*{assignedDate}" required>
    <br>
    <label for="score">Punteggio</label>
    <input type="number" id="score" th:field="*{score}" required>
    <br>
    <label for="reason">Motivazione</label>
    <textarea id="reason" th:field="*{reason}" required></textarea>
    <br>
    <label for="studente">Studente</label>
    <input type="text" id="studente" th:field="*{studente}" required>
    <br>
    <label for="insegnante">Insegnante</label>
    <input type="text" id="insegnante" th:field="*{insegnante}" required>
    <br>
    <button type="submit">Aggiungi punteggio</button>
</form>
<a th:href="@{/scores}">Vai alla lista di tutti i punteggi</a>
</body>
</html>